﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @if (User.Identity.IsAuthenticated)
    {
        <div>Hello @User.FindFirst("preferred_username").Value</div>

        <a class="nav-link text-dark" asp-area="" asp-controller="Claims" asp-action="Index">See Your Claims</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Search">User search</a>
    }
</div>
