﻿@model DemoCoreWebApplication.Models.UserSearchModel
@{
    ViewBag.Title = "User Search";
}

<h2>User Search</h2>

@using (Html.BeginForm("Search", "Home", FormMethod.Post))
{
    @Html.TextBoxFor(model => model.LastName)
    <button type="submit">Search by last name</button>
}
@if (ViewBag.UserList != null)
{
    foreach (var item in ViewBag.UserList)
    {
        <div>Id: @item.id</div>
        <div>Principal: @item.principal</div>
        <div>Name: @item.name</div>
        <div>FirstName: @item.firstName</div>
        <div>LastName: @item.lastName</div>
        <br />
    }
}