﻿
@{
    ViewBag.Title = "Claims";
}

<h2>User info</h2>

<body>
    <h3>Main Claims:</h3>
    <table >
        <tr><td>Name</td><td>@ViewBag.Name</td></tr>
        <tr><td>Username</td><td>@ViewBag.Username</td></tr>
        <tr><td>Subject</td><td>@ViewBag.Subject</td></tr>
        <tr><td>Email</td><td>@ViewBag.Email</td></tr>
    </table>
    <br />
    <h3>All Claims:</h3>
    <table>
        @foreach (var claim in System.Security.Claims.ClaimsPrincipal.Current.Claims)
        {
            <tr><td>@claim.Type</td><td>@claim.Value</td></tr>
        }
    </table>
    <br />
    <br />
    @Html.ActionLink("Sign out", "SignOut", "Home")
</body>

