<h3>Demo Oauth2 Angluar Implicit Flow</h3>
<h3>{{header}}</h3>
<div *ngIf="accessToken || idToken" class="panel">
  <h3>Access token</h3>
  <textarea>{{accessToken}}</textarea>
</div>
<div *ngIf="accessToken || idToken" class="panel">
  <h3>id token</h3>
  <textarea>{{idToken}}</textarea>
</div>

<div *ngIf="accessToken || idToken" class="panel">
  <h3>Claims</h3>
  <div *ngFor="let claim of claims | keyvalue">
    <p>{{claim.key}}:{{claim.value}}</p>
  </div>
</div>

